{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <style>
        .myDiv {
          background-color: lightgrey;
          width: 600px;
          border: 15px solid green;
          border-color: #CB4335;
          padding: 30px; 
          padding: 10px;
          position: relative;
          height: auto;
          margin: 0 auto;
          
        }
        .center {
          display: block;
          margin-left: auto;
          margin-right: auto;
          
        }       
        .center1 {
          margin-left: auto;
          margin-right: auto;
        }
        
        
        
        </style>
        <title>Story 1</title>
    </head>
    <body>
         <div style="background-image: url('https://img.pngio.com/videoblocks-animation-of-stars-background-seamless-stars-background-1920_1080.png');">
             <h3 align="center"><i>I can explain!</i></h3>
        
             <img class="center" height="200px" width="200px" border="20" src="https://cdn-www.bluestacks.com/bs-images/89cfc0bdd6e77f409b33c59d5289b155.png" border="5">
         
         <div class="myDiv">
         <p class="center1" style="width: 500px; text-align:center;"><b>1906399732</b></p>
     
         
         <p style="text-align:center; line-height:1px;" ><b>Education:</b></p>
         <p style="text-align:center; line-height:10px;" >Aerospace Engineering at xxxx</p>
         
         <p style="text-align:center; line-height:10px;" >-----------------------</p>
         
         <p style="text-align:center; line-height:1px;" ><b>Hobby:</b></p>
         <p style="text-align:center; line-height:10px;" >Clearing Asteroids</p>
         <p style="text-align:center; line-height:10px;" >Definitely not being sus</p>
         
         <p style="text-align:center; line-height:10px;" >--------------------------------------------------------------------------------------------</p>
         
         <p  class="center1" style="width: 500px; text-align:center">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed in lorem ullamcorper, tristique arcu lacinia, pellentesque odio. Integer lobortis finibus tellus, ac aliquet nulla vulputate vel. Sed faucibus luctus facilisis. Morbi sollicitudin nisl faucibus dapibus maximus. Vivamus laoreet pretium eros, quis fringilla arcu ornare eget. Duis ut auctor mi, sit amet tincidunt enim. Mauris sapien nunc, pretium in auctor vitae, malesuada at tellus. Vivamus non arcu sit amet leo posuere volutpat. Nullam sollicitudin urna eget urna sagittis cursus. Nullam blandit consectetur tortor, a faucibus ex lobortis in. Suspendisse blandit urna sed nibh luctus accumsan. Sed quam ex, accumsan id nisl id, rhoncus cursus turpis. <i>I swear im not the imposter</i></p>
         
         

         <p style="text-align:center; line-height:10px;" >--------------------------------------------------------------------------------------------</p>
         
         
         <p style="text-align:center; line-height:1px;" ><b>Social Media:</b></p>
         <p style="text-align:center; line-height:10px;" >Twitter: @somethingsomethings</p>
         <p style="text-align:center; line-height:10px;" >Instagram: @sonarcy</p>
         
         <p class="center1" style="width: 210px; text-align:center;" >
    ﾟ。　.　　. ,　　　.。 。　 .。
    . 　　　。　　　　•　 　ﾟ　　。 　　.
    .　　　 　　.　　　　　。　　 。　. 　

       .   　　 。  ඞ 。 . 　　 • 　　Red was not An Impostor.　 。 。1 Impostor remains 　 　　。

　  . 　　　。　　　　•　 　ﾟ　　。 　　.
　  　ﾟ。　.　　. ,　　　.。 。　 .。 </p>
         
         
         </div>
         </div>
    
    </body>
</html>
